input {
  outline: none;
}

.toast {
  opacity: 1 !important;
}

#toast-container > div {
  opacity: 1 !important;
}

.container {
  max-width: 980px;
  width: 100%;
  padding: 15px;
  margin: 0 auto;
}
